# Servidor
PORT=3001
NODE_ENV=development

# Monitoramento
YOUTUBE_CHECK_INTERVAL=5000
CACHE_TTL=1800

# Segurança
API_KEY=coloque_sua_chave_aqui
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Logs
LOG_LEVEL=debug