COOKIE_SYNC_TEST_URLS=https://www.youtube.com/watch?v=jNQXAC9IVRw,https://www.youtube.com/watch?v=dQw4w9WgXcQ,https://www.youtube.com/watch?v=M7lc1UVf-VE
COOKIE_SYNC_MIN_SIZE=1000
COOKIE_SYNC_TIMEOUT=60
COOKIE_SYNC_PM2_PROCESS=youtube-monitor-v3
COOKIE_SYNC_KEEP_BACKUPS=10
