YTDLP_TEST_URLS=https://www.youtube.com/watch?v=jNQXAC9IVRw,https://www.youtube.com/watch?v=dQw4w9WgXcQ,https://www.youtube.com/watch?v=M7lc1UVf-VE
YTDLP_PM2_PROCESS=youtube-monitor-v3
YTDLP_TIMEOUT=90
YTDLP_KEEP_BACKUPS=5
YTDLP_PROJECT_PATH=/var/www/livemonitor
YTDLP_COOKIE_PATH=/var/www/livemonitor/cookies/cookie1.txt
